In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train_ctrUa4K.csv')
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
train['Gender']= train['Gender'].map({'Male':0, 'Female':1})
train['Married']= train['Married'].map({'No':0, 'Yes':1})
train['Loan_Status']= train['Loan_Status'].map({'N':0, 'Y':1})

In [4]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
train = train.dropna()

In [6]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
X = train[['Gender', 'Married', 'ApplicantIncome', 'LoanAmount','Credit_History']]
y = train.Loan_Status
X.shape, y.shape

((480, 5), (480,))

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(X,y, test_size = 0.2,
random_state = 10)

In [9]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(max_depth=4, random_state = 10)
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=4, random_state=10)

In [10]:
from sklearn.metrics import accuracy_score
pred_cv = model.predict(x_cv)
accuracy_score(y_cv,pred_cv)

0.8020833333333334

In [11]:
pred_train = model.predict(x_train)
accuracy_score(y_train,pred_train)

0.8203125

In [12]:
# saving the model
import pickle
pickle_out = open("classifier.pkl", mode = "wb")
pickle.dump(model, pickle_out)
pickle_out.close()

In [13]:
!pip install -q pyngrok

In [14]:
!pip install -q streamlit

In [15]:
!pip install -q streamlit_ace

In [16]:
import pickle
import streamlit as st
 
# loading the trained model
pickle_in = open('classifier.pkl', 'rb') 
classifier = pickle.load(pickle_in)
 
@st.cache()
  
# defining the function which will make the prediction using the data which the user inputs 
def prediction(Gender, Married, ApplicantIncome, LoanAmount, Credit_History):   
 
    # Pre-processing user input    
    if Gender == "Male":
        Gender = 0
    else:
        Gender = 1
 
    if Married == "Unmarried":
        Married = 0
    else:
        Married = 1
 
    if Credit_History == "Unclear Debts":
        Credit_History = 0
    else:
        Credit_History = 1  
 
    LoanAmount = LoanAmount / 1000
 
    # Making predictions 
    prediction = classifier.predict( 
        [[Gender, Married, ApplicantIncome, LoanAmount, Credit_History]])
     
    if prediction == 0:
        pred = 'Rejected'
    else:
        pred = 'Approved'
    return pred
      
  
# this is the main function in which we define our webpage  
def main():       
    # front end elements of the web page 
    html_temp = """ 
    <div style ="background-color:yellow;padding:13px"> 
    <h1 style ="color:black;text-align:center;">Streamlit Loan Prediction ML App</h1> 
    </div> 
    """
      
    # display the front end aspect
    st.markdown(html_temp, unsafe_allow_html = True) 
      
    # following lines create boxes in which user can enter data required to make prediction 
    Gender = st.selectbox('Gender',("Male","Female"))
    Married = st.selectbox('Marital Status',("Unmarried","Married")) 
    ApplicantIncome = st.number_input("Applicants monthly income") 
    LoanAmount = st.number_input("Total loan amount")
    Credit_History = st.selectbox('Credit_History',("Unclear Debts","No Unclear Debts"))
    result =""
      
    # when 'Predict' is clicked, make the prediction and store it 
    if st.button("Predict"): 
        result = prediction(Gender, Married, ApplicantIncome, LoanAmount, Credit_History) 
        st.success('Your loan is {}'.format(result))
        print(LoanAmount)
     
if __name__=='__main__': 
    main()

2021-06-21 15:27:19.318
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\User\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [17]:
from pyngrok import ngrok
 
public_url = ngrok.connect('8501')
public_url

2021-06-21 15:27:59.167 Opening tunnel named: http-8501-74aa2a26-b8af-492b-a37f-ee0d94607007

2021-06-21 15:28:08.572 t=2021-06-21T15:28:08+0100 lvl=info msg="no configuration paths supplied"
2021-06-21 15:28:08.574 t=2021-06-21T15:28:08+0100 lvl=info msg="using configuration at default config path" path=C:\\Users\\User/.ngrok2/ngrok.yml
2021-06-21 15:28:08.577 t=2021-06-21T15:28:08+0100 lvl=info msg="open config file" path=C:\\Users\\User\\.ngrok2\\ngrok.yml err=nil
2021-06-21 15:28:08.579 t=2021-06-21T15:28:08+0100 lvl=info msg="starting web service" obj=web addr=127.0.0.1:4040
2021-06-21 15:28:09.565 t=2021-06-21T15:28:09+0100 lvl=info msg="tunnel session started" obj=tunnels.session
2021-06-21 15:28:09.567 t=2021-06-21T15:28:09+0100 lvl=info msg="client session established" obj=csess id=45f840c49bda
2021-06-21 15:28:09.574 t=2021-06-21T15:28:09+0100 lvl=info msg=start pg=/api/tunnels id=d92272b80a471c17
2021-06-21 15:28:09.581 t=2021-06-21T15:28:09+0100 lvl=info msg=end pg=/api/tunnels id=d92272b80a471c17 status=200 dur=997.6Âµs
2021-06-21 15:28:09.591 t=2021-06-21T15:28:09+0100 lvl=info msg=start pg=/api/tunnels id=35d9cddd36b7249e
2021-06-21 15:28:09.595 t=2021-06-21T15:28:09+0100 lvl=info msg=end pg=/api/tunnels id=35d9cddd36b7249e status=200 dur=0s
2021-06-21 15:28:09.599 t=2021-06-21T15:28:09+0100 lvl=info msg=start pg=/api/tunnels id=89ed06142b7f5899
2021-06-21 15:28:10.155 t=2021-06-21T15:28:10+0100 lvl=info msg="started tunnel" obj=tunnels name="http-8501-74aa2a26-b8af-492b-a37f-ee0d94607007 (http)" addr=http://localhost:8501 url=http://c0a19653d495.ngrok.io
2021-06-21 15:28:10.159 t=2021-06-21T15:28:10+0100 lvl=info msg="started tunnel" obj=tunnels name=http-8501-74aa2a26-b8af-492b-a37f-ee0d94607007 addr=http://localhost:8501 url=https://c0a19653d495.ngrok.io
2021-06-21 15:28:10.162 t=2021-06-21T15:28:10+0100 lvl=info msg=end pg=/api/tunnels id=89ed06142b7f5899 status=201 dur=556.5418ms
2021-06-21 15:28:10.164 t=2021-06-21T15:28:10+0100 lvl=info msg=start pg="/api/tunnels/http-8501-74aa2a26-b8af-492b-a37f-ee0d94607007 (http)" id=27df563bace30497

2021-06-21 15:28:10.167 t=2021-06-21T15:28:10+0100 lvl=info msg=end pg="/api/tunnels/http-8501-74aa2a26-b8af-492b-a37f-ee0d94607007 (http)" id=27df563bace30497 status=200 dur=0s
2021-06-21 16:06:05.389 t=2021-06-21T16:06:05+0100 lvl=info msg="join connections" obj=join id=7e618a0e8edf l=[::1]:8501 r=102.177.101.3:57245
2021-06-21 16:06:06.083 t=2021-06-21T16:06:06+0100 lvl=info msg="join connections" obj=join id=24d2e9a6b3f8 l=[::1]:8501 r=102.177.101.3:50134
2021-06-21 16:06:06.388 t=2021-06-21T16:06:06+0100 lvl=info msg="join connections" obj=join id=11cadf51e299 l=[::1]:8501 r=102.177.101.3:63999
2021-06-21 16:06:06.391 t=2021-06-21T16:06:06+0100 lvl=info msg="join connections" obj=join id=91b9bd664636 l=[::1]:8501 r=102.177.101.3:63992
2021-06-21 16:06:18.270 t=2021-06-21T16:06:18+0100 lvl=info msg="join connections" obj=join id=8c702d08c5d3 l=[::1]:8501 r=102.177.101.3:50390
2021-06-21 16:15:11.470 t=2021-06-21T16:15:11+0100 lvl=info msg="join connections" obj=join id=38a442c0cdf0 l=[::1]:8501 r=102.177.101.3:57468
2021-06-21 16:15:12.405 t=2021-06-21T16:15:12+0100 lvl=info msg="join connections" obj=join id=64a03d965ed1 l=[::1]:8501 r=102.177.101.3:57468
2021-06-21 16:15:12.716 t=2021-06-21T16:15:12+0100 lvl=info msg="join connections" obj=join id=d18e992fc1eb l=[::1]:8501 r=102.177.101.3:50656
2021-06-21 16:15:14.345 t=2021-06-21T16:15:14+0100 lvl=info msg="join connections" obj=join id=9efe68d7fccc l=[::1]:8501 r=102.177.101.3:63992
2021-06-21 16:15:21.314 t=2021-06-21T16:15:21+0100 lvl=info msg="join connections" obj=join id=ed83d872c3c3 l=[::1]:8501 r=102.177.101.3:64539
2021-06-21 16:15:22.347 t=2021-06-21T16:15:22+0100 lvl=info msg="join connections" obj=join id=069224fae3b0 l=[::1]:8501 r=102.177.101.3:57153
2021-06-21 16:15:23.381 t=2021-06-21T16:15:23+0100 lvl=info msg="join connections" obj=join id=3921c2339bce l=[::1]:8501 r=102.177.101.3:55274
2021-06-21 16:15:24.387 t=2021-06-21T16:15:24+0100 lvl=info msg="join connections" obj=join id=1ba77f05127c l=[::1]:8501 r=102.177.101.3:63997
2021-06-21 16:15:25.398 t=2021-06-21T16:15:25+0100 lvl=info msg="join connections" obj=join id=c7364c966c43 l=[::1]:8501 r=102.177.101.3:61341
2021-06-21 16:15:26.438 t=2021-06-21T16:15:26+0100 lvl=info msg="join connections" obj=join id=2fb75d956696 l=[::1]:8501 r=102.177.101.3:60091
2021-06-21 16:15:27.472 t=2021-06-21T16:15:27+0100 lvl=info msg="join connections" obj=join id=f3b637579cae l=[::1]:8501 r=102.177.101.3:63997
2021-06-21 16:15:28.578 t=2021-06-21T16:15:28+0100 lvl=info msg="join connections" obj=join id=1a4a5d464514 l=[::1]:8501 r=102.177.101.3:51549
2021-06-21 16:15:29.602 t=2021-06-21T16:15:29+0100 lvl=info msg="join connections" obj=join id=a7b98c4cb9ab l=[::1]:8501 r=102.177.101.3:63997
2021-06-21 16:15:30.522 t=2021-06-21T16:15:30+0100 lvl=info msg="join connections" obj=join id=0df19f14f090 l=[::1]:8501 r=102.177.101.3:57479
2021-06-21 16:15:31.541 t=2021-06-21T16:15:31+0100 lvl=info msg="join connections" obj=join id=88d4b6c74e0e l=[::1]:8501 r=102.177.101.3:53092
2021-06-21 16:15:32.505 t=2021-06-21T16:15:32+0100 lvl=info msg="join connections" obj=join id=20059d7d07ed l=[::1]:8501 r=102.177.101.3:63997
2021-06-21 16:15:33.518 t=2021-06-21T16:15:33+0100 lvl=info msg="join connections" obj=join id=86f68cd0523e l=[::1]:8501 r=102.177.101.3:49435
2021-06-21 16:15:34.955 t=2021-06-21T16:15:34+0100 lvl=info msg="join connections" obj=join id=07bd2fbe1530 l=[::1]:8501 r=102.177.101.3:50401
2021-06-21 16:42:22.360 t=2021-06-21T16:42:22+0100 lvl=eror msg="heartbeat timeout, terminating session" obj=csess id=e5103bf4ac45 clientid=f43b33a75eb02bf6b189919eb56d8186
2021-06-21 16:42:22.360 t=2021-06-21T16:42:22+0100 lvl=eror msg="session closed, starting reconnect loop" obj=csess id=45f840c49bda err="session closed"
2021-06-21 16:42:22.360 t=2021-06-21T16:42:22+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="dial tcp: lookup tunnel.us.ngrok.com: no such host"
2021-06-21 16:42:22.869 t=2021-06-21T16:42:22+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="dial tcp: lookup tunnel.us.ngrok.com: no such host"
2021-06-21 16:42:23.695 t=2021-06-21T16:42:23+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="Get \"https://dns.google.com/resolve?cd=true&name=tunnel.us.ngrok.com&type=AAAA\": dial tcp: lookup dns.google.com: no such host"
2021-06-21 16:42:24.755 t=2021-06-21T16:42:24+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="Get \"https://s3.amazonaws.com/dns.ngrok.com/tunnel.json\": dial tcp: lookup s3.amazonaws.com: no such host"
2021-06-21 16:42:26.183 t=2021-06-21T16:42:26+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="resolved tunnel.us.ngrok.com has no records"
2021-06-21 16:42:28.478 t=2021-06-21T16:42:28+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="dial tcp: lookup tunnel.us.ngrok.com: no such host"
2021-06-22 11:14:20.524 t=2021-06-22T11:14:20+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="Get \"https://dns.google.com/resolve?cd=true&name=tunnel.us.ngrok.com&type=AAAA\": dial tcp: lookup dns.google.com: no such host"
2021-06-22 11:14:24.301 t=2021-06-22T11:14:24+0100 lvl=warn msg="failed to check for update" obj=updater err="Post \"https://update.equinox.io/check\": dial tcp: lookup update.equinox.io: no such host"
2021-06-22 11:14:25.540 t=2021-06-22T11:14:25+0100 lvl=eror msg="failed to reconnect session" obj=csess id=45f840c49bda err="Get \"https://s3.amazonaws.com/dns.ngrok.com/tunnel.json\": dial tcp: lookup s3.amazonaws.com: no such host"